/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.navbar.navbar--fixed-top {
  display: none;
}
.hero.hero--primary.heroBanner_src-pages-index-module {
  display: none;
}

.headerContainer .DocSearch.DocSearch-Button {
  width: 100%;
  background-color: white;
}

.outlinedBtn {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  padding: 8px 12px;
  color: #1f2a37;
  font-weight: 500;
  font-size: 0.875rem;
  height: fit-content;
}

.primaryBtn {
  border: none;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 600;
  outline: inherit;
  background-color: #3970fd;
  border-radius: 48px;
  padding: 8px 12px;
  padding-left: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
