* {
  margin: 0px;
}
.headerContainer {
  background-color: #f3f4f6;
}

.firstAlertTopContiner {
  width: 100%;
  padding: 1.5rem;
}
.topAlertContainer {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-radius: 112px;
  box-shadow: 0 1px 2px 0 #1c263f0f, 0 1px 3px 0 #1c263f1a;
  padding: 0.75rem 1.4rem;
}

.alertText {
  color: #4d5761;
  margin: 0px;
  font-size: 0.938rem;
  font-weight: 500;
}

.clickHereText {
  color: #1e56e3;
  cursor: pointer;
}

.navBarContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 24px 48px;
}

.navBarFirstSection {
  display: flex;
  align-items: center;
  gap: 2px;
}

.navBarLastSection {
  display: flex;
  align-items: center;
  gap: 28px;
}

.navBarSecondSection {
  width: 350px;
}
.alertDeleteIcon {
  cursor: pointer;
}

.dropDown {
  position: relative;
}

.selectedDropDown {
  background-color: white;
  box-shadow: 0 1px 2px 0 #1c263f0f, 0 1px 3px 0 #1c263f1a;
  cursor: pointer;
  font-weight: 500;
  font-size: 0.875rem;
  border-radius: 9999px;

  color: #6c737f;
  width: 120px;
  display: flex;
  align-items: center;
  padding: 4px 8px 4px 16px;
}

.dropDownListContainer {
  position: absolute;
  left: 50%;
  height: fit-content;
  top: 0px;
  padding-top: 40px;

  transform: translateX(-50%);
  width: 120px;
}

.dropDownValuesContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  box-shadow: 0 1px 2px 0 #1c263f0f, 0 1px 3px 0 #1c263f1a;
  background-color: white;
  border-radius: 10px;
}

.dropDownValuesContainer > *:not(:last-child) {
  box-shadow: 0 1px 2px 0 #1c263f0f, 0 1px 3px 0 #1c263f1a;
}

.dropDownValue {
  border-bottom: 1px;
  width: 100%;
  padding: 4px 16px 4px 16px;
  color: black;
  /* border-color: #6c737f; */
}

.selectedOption {
  color: #1e56e3;
}

.pointer {
  cursor: pointer;
}

.dropDownAndBtn {
  display: flex;
  gap: 15px;
  align-items: center;
  margin: 0px 40px;
}
